<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulaire</title>
</head>
<body> <br>
    <div class="container">
        <form [formGroup] = "myForm">

                {{ myForm.value | json}}

            <div class="form-group">
                <label for="" class="col-md-2"><strong>Username </strong></label>
                <input type="text" formControlName="username" placeholder="cosinus" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="" class="col-md-2"><strong>Email </strong></label>
                <input type="email" formControlName="email" placeholder="diene@gmail.com" class="form-control">
            </div>

            <div class="form-group">
                <label for=""><strong>Sexe</strong></label>
                <select class="form-control" formControlName="gender">
                    <option value="dafault">Choisisez un genre</option>
                    <option value="man">Homme</option>
                    <option value="women">Femme</option>
                </select>
            </div>

            <div class="form-group" formGroupName="passwords">
                <label for=""><strong>Mot de passe</strong></label>
                <input type="password" placeholder="********" class="form-control" formControlName="password">
                <label for=""><strong>Confirmer le Mot de passe</strong></label>
                <input type="password" placeholder="********" class="form-control" formControlName="cpassword">
            </div>

            <button class="btn btn-primary">Valider</button>
        </form>
    </div>
</body>
</html>
